.container {
  display: flex;

  * {
    transition: all 0.1s ease;
  }

  .draggable-indicator {
    opacity: 0;
    color: grey;
  }
}

.container:hover {
  .draggable-indicator {
    opacity: 1;
    cursor: pointer;
  }
}

input {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgba(128, 128, 128, 0.411);
  font-size: 0.9rem;
}

.row {
  margin: 6px 0px;
}
