<div class="container">
  <div class="draggable-indicator">
    <i class="material-icons">drag_indicator</i>
  </div>

  <div class="columns flex-fill">
    <div class="row">
      <input
        autofocus
        class="flex-fill"
        type="text"
        (keydown)="onCtrlEnter($event)"
        [(ngModel)]="task.title"
        placeholder="Enter task"
      />
      <button (click)="showSchedulePopover($event)">
        {{ task.dueDate ? taskDueDateForDisplay.shortDate : "Schedule" }}
      </button>
    </div>
    <div class="row">
      <button
        class="primary"
        [disabled]="task.title.length == 0"
        (click)="onAddTaskClicked()"
      >
        Add Task
      </button>
      <button (click)="onCancelClicked()">Cancel</button>

      <div class="spacer"></div>
      <div class="actions">
        <div class="title-section" *ngIf="task.project">
          <h2 style="color: black; cursor: pointer;">
            <span
              class="dot"
              [style.backgroundColor]="taskProject.color"
            ></span>
            {{ taskProject.name }}
          </h2>
        </div>
        <app-icon-button title="Project" (click)="showProjectPopover($event)"
          >assignment</app-icon-button
        >
        <app-icon-button (click)="showPriorityPopover($event)" title="Priority"
          >outlined_flag</app-icon-button
        >
      </div>
    </div>
  </div>
</div>
