<div class="container">
  <div class="draggable-indicator">
    <i class="material-icons">drag_indicator</i>
  </div>

  <div class="columns flex-fill">
    <div class="row">
      <input
        class="flex-fill"
        type="text"
        [(ngModel)]="task.title"
        placeholder="Enter task"
      />
      <input type="date" name="" id="" />
    </div>
    <div class="row">
      <button class="primary" [disabled]="task.title.length == 0">
        Add Task
      </button>
      <button>Cancel</button>

      <div class="spacer"></div>
      <button>Actions</button>
    </div>
  </div>
</div>
