<nav>
  <app-side-nav-item
    title="He"
    icon="face"
    count="2"
    iconColor="info"
  ></app-side-nav-item>
  <app-side-nav-item
    title="He"
    icon="face"
    count="2"
    iconColor="info"
    selected
  ></app-side-nav-item>
  <app-side-nav-item
    title="He"
    icon="face"
    count="2"
    iconColor="info"
  ></app-side-nav-item>
  <app-collapsible-side-nav-item>
    <app-side-nav-item></app-side-nav-item>
    <app-side-nav-item></app-side-nav-item>
  </app-collapsible-side-nav-item>
</nav>
