.container {
  min-width: 250px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: white;
  border: 1px solid rgb(214, 214, 214);
  box-shadow: 0px 2px 5px 0px rgba(81, 81, 81, 0.17);
}

.section-header {
  font-size: 0.7rem;
  color: grey;
  margin: 8px 16px;
}

.actions {
  margin: 4px 16px;
}

hr {
  margin: 4px 0px;

  border-top: 1px solid rgba(128, 128, 128, 0.199);
}
