<div class="container">
  <app-menu-item icon="arrow_upward">
    Add task above
  </app-menu-item>
  <app-menu-item icon="arrow_downward"> Add task below </app-menu-item
  ><app-menu-item icon="create">
    Edit task
  </app-menu-item>
  <hr />
  <div class="section-header">
    Schedule
  </div>
  <div class="actions">
    <app-icon-button
      backgroundHighlight="true"
      title="Today"
      (click)="onDateOptionClicked('today')"
      >today</app-icon-button
    >
    <app-icon-button
      backgroundHighlight="true"
      title="Tomorrow"
      (click)="onDateOptionClicked('tomorrow')"
      >arrow_right_alt</app-icon-button
    >
    <app-icon-button
      backgroundHighlight="true"
      title="Next Week"
      (click)="onDateOptionClicked('nw')"
      >view_week</app-icon-button
    >
    <app-icon-button (click)="showSchedulingPopover($event)"
      >more_horiz</app-icon-button
    >
  </div>
  <div class="section-header">
    Priority
  </div>
  <div style="margin-left: 16px;">
    <app-priority-selector
      [dialogRef]="sharedDialogRef"
      [task]="task"
    ></app-priority-selector>
  </div>
  <hr />
</div>
