<main>
  <app-page-title
    (click)="showPopover($event)"
    [title]="title"
    [subtitle]="subtitle"
  ></app-page-title>
  <div class="list-container" cdkDropList (cdkDropListDropped)="drop($event)">
    <app-task-list-tile
      (checkChanged)="onCheckChanged($event)"
      [task]="task"
      *ngFor="let task of getTasks()"
    ></app-task-list-tile>
  </div>
  <app-add-task-list-tile
    *ngIf="!isAddTaskVisible"
    (click)="setAddTaskVisible(true)"
  ></app-add-task-list-tile>
  <app-add-task-panel
    *ngIf="isAddTaskVisible"
    (cancel)="setAddTaskVisible(false)"
    (add)="addTask($event)"
  ></app-add-task-panel>
</main>
