.container {
  min-width: 250px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.section-header {
  font-size: 0.7rem;
  color: grey;
  margin: 8px 16px;
}

.actions {
  margin: 4px 16px;
}

hr {
  margin: 4px 0px;
  border: none;
  border-top: 0.1px solid rgba(128, 128, 128, 0.199);
}
