<div class="container">
  <div class="menu">
    <app-menu-item icon="today" (click)="onDateOptionClicked('today')">
      Today
    </app-menu-item>
    <app-menu-item
      icon="arrow_right_alt"
      (click)="onDateOptionClicked('tomorrow')"
    >
      Tomorrow </app-menu-item
    ><app-menu-item icon="view_week" (click)="onDateOptionClicked('nextweek')">
      Next Week
    </app-menu-item>
    <app-menu-item icon="cancel" (click)="updateTaskRemoveDueDate()">
      No Due Date
    </app-menu-item>
    <hr />
    <mat-calendar
      [selected]="selectedDate"
      (selectedChange)="onDateChanged($event)"
    ></mat-calendar>
    <hr />
    <app-menu-item
      *ngIf="!task.withTime"
      (click)="showTimeMenuPopover($event)"
      icon="add"
    >
      Add time
    </app-menu-item>
    <app-menu-item
      *ngIf="task.withTime"
      (click)="showTimeMenuPopover($event)"
      icon="edit"
    >
      Edit time
    </app-menu-item>
  </div>
</div>
