.container {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.aside {
  width: 250px;
}

main {
  flex: 1;
  height: 100%;
  background-color: white;
  padding: 50px 24px;
  border: 1px solid rgba(128, 128, 128, 0.178);
  border-top: none;
  border-bottom: none;
}

.list-container {
  display: flex;
  flex-direction: column;
}
