.toast {
  position: fixed;
  bottom: 0;
  z-index: 10000;
  background-color: #121212;
  color: white;
  margin: 48px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  box-shadow: -1px 4px 5px 0px rgba(0, 0, 0, 0.24);
}

.span {
  padding: 12px 24px;
}

.actions {
  padding: 12px 24px;
}
