<div class="root" cdkDrag>
  <div class="container" [ngClass]="{ checked: task.checked }">
    <div class="placeholder" *cdkDragPlaceholder></div>
    <div cdkDragHandle class="draggable-indicator">
      <i class="material-icons">drag_indicator</i>
    </div>
    <div class="collapse">
      <i class="material-icons">keyboard_arrow_right</i>
    </div>
    <div class="checkbox" (click)="onCheckClicked()">
      <i class="material-icons">done</i>
    </div>
    <div class="title-section">
      <h1>{{ task.title }}</h1>
      <h2>Task subtitle</h2>
    </div>
    <div class="spacer"></div>
    <div class="actions">
      <app-icon-button backgroundHighlight="true">event_note</app-icon-button>
    </div>
    <app-dropdown isVisible="true">
      <app-dropdown-toggle>
        <app-icon-button backgroundHighlight="true">more_horiz</app-icon-button>
      </app-dropdown-toggle>
      <app-dropdown-content>
        <app-task-contextual-menu [task]="task"></app-task-contextual-menu>
      </app-dropdown-content>
    </app-dropdown>
  </div>
  <!-- <div
    class="droptarget"
    cdkDropList
    [ngClass]="{ dragging: isDragEnter }"
    (dragenter)="onDragEnter()"
  ></div> -->
  <hr />
</div>
