<div class="root" cdkDrag>
  <div class="container" [ngClass]="{ checked: task.checked }">
    <div class="placeholder" *cdkDragPlaceholder></div>
    <div cdkDragHandle class="draggable-indicator">
      <i class="material-icons">drag_indicator</i>
    </div>
    <div class="collapse">
      <i class="material-icons">keyboard_arrow_right</i>
    </div>
    <div
      class="checkbox"
      (click)="onCheckClicked()"
      [class.blue]="task.priority === 1"
      [class.orange]="task.priority === 2"
      [class.red]="task.priority === 3"
    >
      <i class="material-icons">done</i>
    </div>
    <div class="col">
      <div class="row">
        <div class="title-section">
          <h1>{{ task.title }}</h1>
        </div>
        <div class="spacer"></div>
        <div class="actions">
          <app-icon-button
            backgroundHighlight="true"
            title="Project"
            (click)="showProjectPopover($event)"
            >assignment</app-icon-button
          >
          <app-icon-button
            title="Due Date"
            backgroundHighlight="true"
            (click)="showSchedulingPopover($event)"
            >event_note</app-icon-button
          >
          <app-icon-button
            title="More options"
            (click)="showTaskMenuPopover($event)"
            backgroundHighlight="true"
            >more_horiz</app-icon-button
          >
        </div>
      </div>
      <div class="row">
        <div class="title-section">
          <h2 *ngIf="task.dueDate">
            {{ humanizedDate }}
          </h2>
        </div>
        <div class="spacer"></div>
        <div class="title-section" *ngIf="taskProject" (click)="gotoProject()">
          <h2 style="color: black; cursor: pointer;">
            <span
              class="dot"
              [style.backgroundColor]="taskProject.color"
            ></span>
            {{ taskProject.name }}
          </h2>
        </div>
      </div>
    </div>
  </div>
  <!-- <div
    class="droptarget"
    cdkDropList
    [ngClass]="{ dragging: isDragEnter }"
    (dragenter)="onDragEnter()"
  ></div> -->
  <hr />
</div>
