.container {
  display: flex;

  * {
    transition: all 0.1s ease;
  }

  .title-section {
    display: flex;
    flex-direction: column;
    * {
      margin: 0;
    }

    h1 {
      font-size: 1rem;
      padding: 0px;
      font-weight: normal;
    }
    h2 {
      font-size: 0.8rem;
      font-weight: 500;
      padding: 0px;
      margin-top: 4px;
      color: rgb(0, 148, 57);
    }
  }

  .checkbox {
    border-radius: 50%;
    border: 2px solid rgb(221, 221, 221);
    height: 18px;
    width: 18px;
    margin: 0px 10px;
    display: flex;
    justify-content: center;

    &.red {
      border-color: rgba(206, 0, 0, 0.808);
    }
    &.orange {
      border-color: rgba(252, 140, 75, 0.664);
    }
    &.blue {
      border-color: rgba(27, 91, 175, 0.63);
    }
    i {
      font-size: 16px;
      line-height: 18px;
      opacity: 0;
      color: grey;
    }
  }

  .collapse {
    display: none;
    i {
      font-size: 20px;
      line-height: 18px;
      color: grey;
      opacity: 0;
    }
    cursor: pointer;
  }

  .root {
    display: flex;
    flex-direction: column;
  }

  .checkbox:hover {
    cursor: pointer;
    background-color: rgb(221, 221, 221);
    i {
      opacity: 1;
    }
  }

  .draggable-indicator {
    opacity: 0;
    color: grey;
  }
}

.draggable-indicator:active:hover {
  opacity: 1;
  cursor: move;
}

.container:hover {
  .draggable-indicator {
    opacity: 1;
    cursor: pointer;
  }
}

hr {
  border: 0.5px solid rgb(219, 219, 219);
  margin-top: 16px;
}

.checked {
  .title-section {
    text-decoration: line-through;
    opacity: 0.3;
    filter: grayscale(1);
  }

  .checkbox {
    opacity: 1;
    &.red {
      border-color: rgba(128, 128, 128, 0.336);
    }
    &.orange {
      border-color: rgba(128, 128, 128, 0.336);
    }
    &.blue {
      border-color: rgba(128, 128, 128, 0.336);
    }
    i {
      opacity: 1;
    }
  }
}

.cdk-drop-list-dragging {
  background: lightgreen;
}

.placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.droptarget {
  height: 50px;
}
