div {
  display: flex;
  align-items: baseline;
  margin-bottom: 8px;
}

h1 {
  font-size: 1.2em;
  font-weight: 800;
}

h2 {
  font-size: 0.9em;
  color: grey;
  margin-left: 6px;
  font-weight: 400;
}
