<div class="main">
  <app-icon-button [ngClass]="{ rotated: expanded }" (click)="toggleExpanded()"
    >arrow_right</app-icon-button
  >
  <div class="title-section clickable" (click)="toggleExpanded()">
    <h3>{{ title }}</h3>
  </div>
  <div class="spacer clickable" (click)="toggleExpanded()"></div>
  <app-icon-button
    [title]="action.tooltipText"
    *ngIf="action"
    (click)="action.callback()"
    >{{ action.icon }}</app-icon-button
  >
</div>

<div [ngClass]="'collapsible' + ' ' + (expanded ? 'visible' : '')">
  <ng-content></ng-content>
</div>
