.main {
  display: flex;
  align-items: center;
  margin: 4px;
  padding: 2px 6px;
}

* {
  transition: all 0.2s ease;
}

.main:hover {
  background-color: rgba(128, 128, 128, 0.048);
}
h3,
h4 {
  margin: 0;
}

.title-section {
  display: flex;
  align-items: baseline;
}

h3 {
  font-size: 0.9em;
  font-weight: 400;
  margin: 4px;
}

h4 {
  font-size: 0.7em;
  font-weight: 400;
}

.collapsible {
  margin-left: 40px;
  height: 0px;
  overflow: hidden;
  transition: all 0.2s ease;
}

.collapsible.visible {
  height: fit-content;
}

hr {
  margin: 0;
}

.rotated {
  transform: rotate(90deg);
}
